*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button.reset {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

.content {
  text-align: left;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.1s ease;
  font-size: 18px;
}

.remove:hover {
  transform: scale(1.3);
}
